<mat-card>
  <mat-card-header>
    <mat-card-title>Hello, {{currentUser.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <label>Call with
        <input [(ngModel)]="callWith" autocomplete="off" matInput name="callWith" placeholder="Call with" required>
      </label>
    </mat-form-field>
    <br>
    <mat-radio-group [(ngModel)]="mode">
      <mat-radio-button *ngFor="let mode of modes" [value]="mode">
        {{mode}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="call()" color="primary" mat-raised-button [disabled]="disableCall()">Call</button>
    <button (click)="stop()" color="warn" mat-raised-button [disabled]="disableStop()">Stop Call</button>
    <button (click)="play()" mat-raised-button [disabled]="disablePlay()">Play</button>
    <button (click)="stopPlay()" color="accent" mat-raised-button [disabled]="disableStopPlay()">Stop Play</button>
  </mat-card-actions>
</mat-card>
<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Local Video</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <video autoplay id="local-video" poster="{{poster}}"></video>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Remote Video</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <video autoplay id="remote-video" poster="{{poster}}"></video>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
